
/*Configaracoes para telas menores*/
@media (max-width: 767px) {

  /*Ajustes header*/
  .logo_container h2 {
    display: none;
  }

  .logo_container img {
    width: 5rem;
    height: auto;
  }


  .nav_container {
    align-items: center;
    padding: 10px;
    background-color: #FBD1C5;
  }

  /*Ajustes header*/

  /*Ajueste secao de imapcto*/
  #impact_section {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  #slogan_container span {
    font-size: 1.8rem;
    font-weight: bold;

  }

  #slogan_container,
  #impact_product {
    flex: 1 1 100%;
    margin: 10px 0;

  }

  #slogan_container h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  #slogan_container p {
    font-size: 1rem;
    text-align: flex-start;
  }

  #impact_product .product-title,
  #impact_product .product-description {
    font-size: 1rem;
  }

  #impact_product .product-footer {
    flex-direction: column;
    align-items: flex-start;
  }

  #impact_product .product-price {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  #impact_product .add-to-cart {
    width: 100%;
    text-align: center;
  }

  /*Ajustes header*/

}